.nombre_cliente{
    background-color: #07BBA5;
    display: flex;
    font-family: 'Jolly Lodger';
    font-size: 30px;
}

.botones{
    background-color: #07BBA5;
    display: flex;
    font-family: 'Jolly Lodger'; 
    font-size: 30px;
    font-style: oblique;
    padding: 0px 50px;
    justify-content: space-around;
}

.barra_cliente{
    display: flex;
    width: 100%;
    background-color: #07BBA5;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 5em;
    font-weight: 50;
    font-size: 10px;
    letter-spacing:2px;
    justify-content: space-between;
}

.lista_carrito {
    display: flex;
    width: 100%;
    padding: 1rem 0 1rem;
    align-items: center;
    color: black;
    margin-top: 10px;
    justify-content: center;
}

table, td, th {  
    border: 2px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    padding: 15px;
    font-size: 18px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b89ab2;
    color: black;
  }

  tr:nth-child(even){background-color: #b89ab2;}
  tr:hover {background-color: #fdf6fb;}

.container_total {
    display: flex;
    width: 100%;
    padding: 1rem 0 1rem;
    margin-top: 10px;
    margin-right: 5em;
    border-radius: 30px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    color: #fff;
}


